<h1>Welcome <%= @student.username %> </h1>

<%# 
<div>
  <aside class ='col-md-4'>
    <section class='student_info'>
      <h1> %>
        <%# <%= gravatar_for @student %> 
        <%# <%= @student.username %> 
      <%# </h1>
    </section>
  </aside> %>



<%# </div> %>


<h5>Today you have the following appointments with:</h5>






<%= link_to 'Book Appointment', new_student_appointment_path(@student), class: 'btn btn-primary' %> 

