<h1>Welcome my bio</h1>

<h4>My name is: <%= @tutor.name %> </h4>
<h4>Tutoring experience: <%= @tutor.years_exp %> years</h4>
<h4>Subject matter expert in: <%= @tutor.SME %> </h4>

<h3>Book an appoiment here</h3>

<%= link_to 'Book Appointment', new_student_appointment_path(@tutor), class: 'btn btn-primary' %> 
