


<%= link_to @appointment.student.username, student_path(@student.id)  %> 
 <% - by  %>
 <% <%= @student.tutor.name %>
 <% </h2>  %>
 <% %> 
            <% <p> %>
            <% <%= @tutor.username %> 
            <% </p> %>

<p>Appointment Date: <%= @appointment.appointment_time %></p>



